<header class="flex gap-4 p-4 bg-zinc-100 shadow-lg shadow-zinc-200 max-w-full">
    <h1 class="text-xl mr-auto font-extrabold">khatabook</h1>
    <a class="border-solid " href="/">Home</a>
    <a class="border-solid min-w-fit  " href="/create">Create New Khata</a>
</header>